{% extends "base.html" %} {% block title %}Playlist{% endblock %} {% block
content %}
<h1>Bibliothèque des musiques</h1>
{{% if files %}
<div class="playlist">
  {% for file in files %}
  <div class="playlist-item">
    <span class="media-icon">
      {{ '🎬' if file.filename.endswith('.mp4') else '🎵' }}
    </span>
    <h3>{{ file.filename }} (par {{ file.uploaded_by }})</h3>
    {% if file.filename.endswith('.mp4') %}
      <video controls src="{{ file.url }}"></video>
    {% else %}
      <audio controls src="{{ file.url }}"></audio>
    {% endif %}
     <a href="{{ url_for('add_favorite', filename=file) }}"
      >⭐ Ajouter aux favoris</a
    >
  </div>
  {% endfor %}
</div>
{% else %}
<p>Aucune musique disponible.</p>
{% endif %}
