{% extends "base.html" %}

{% block title %}Playlist{% endblock %}

{% block content %}
<h1>Bibliothèque des musiques</h1>

{% if files %}
<ul>
  {% for file in files %}
  <li>
    <strong>{{ file }}</strong><br>
    <a href="{{ url_for('add_favorite', filename=file) }}">⭐ Ajouter aux favoris</a><br>
    {% if file.endswith('.mp4') %}
      <video controls width="300" src="{{ url_for('uploaded_file', filename=file) }}"></video>
    {% else %}
      <audio controls src="{{ url_for('uploaded_file', filename=file) }}"></audio>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Aucune musique disponible.</p>
{% endif %}

{% endblock %}
