{% extends "base.html" %} {% block title %}Playlist{% endblock %} {% block
content %}
<style>
  body {
    background: url("{{ background_image }}") no-repeat center center;
    background-size: cover;
  }
</style>
<h1>Bibliothèque des musiques</h1>
{% if files %}
<div class="playlist">
  {% for file in files %}
  <div class="playlist-item">
    <span class="media-icon">
      {{ '🎬' if file.endswith('.mp4') else '🎵' }}
    </span>
    <h3>{{ file }}</h3>
    <p>Ajouté par : {{ uploads.get(file, "Inconnu") }}</p>
    <audio controls src="{{ url_for('uploaded_file', filename=file) }}"></audio>
    <a href="{{ url_for('add_favorite', filename=file) }}"
      >⭐ Ajouter aux favoris</a
    >
  </div>
  {% endfor %}
</div>
{% else %}
<p>Aucune musique disponible.</p>
{% endif %} {% endblock %}
